@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=Oswald);

/* //////GENERAL LAYOUT //////*/

body {
  font-size: 100%;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.row {
  clear: both;
  margin-bottom: 0;
}



.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear:both;
}

.background-pallet {
  background: url(../images/background_ruth.png) center top;
  background-size: cover;
}

.logo {
  /*  position: absolute;  ASK JON */
  left: 40px;
}

.box1 {
  float:left;
  width: 209px;
  height: 147px;
  padding: 0;
  background: #68c10f;
  margin-left: 0;
}

.box2 {
  float: left;
  width: 209px;
  height: 147px;
  padding: 0;
  background: #6FBEC6;
  margin-left: 1px;
}

.box3 {
  float: left;
  width: 209px;
  height: 147px;
  padding: 0;
  background: #a8dbc6;
  margin-left: 1px;
}

td {
  text-align: center;
}

.t1 {
  padding-top: 30px;
  font-size: 70px;
  font-family:  'Francois One', sans-serif;
  letter-spacing: -1px;
  display: block;
  text-align: center;
  line-height: .8;
  color: rgb(255, 255, 255);
}

.t2 {
  font-family: Oswald, sans-serif;
  color: white;
  text-align: center;
  font-size: 23px;
  line-height: 23px;

}

div {
  display:block;
}


#first_text_paragraph {
  float:left;
}

/* ruth try again at the beach */

#top_section {
  width: 960px;
  background: #ccc;
  margin:0 auto;  /* this centers it */
}

.rcol-1 {
  width: 66%;
  float: left;
  background: pink;
  margin-left: 0;
}

.rcol-2 {
  width: 32%;
  float: left;
  background: grey;
  margin-left: 0;
}



/*/////// HEADER ///////*/


/*/////// SOCIAL ////////*/

#social {
  position: fixed;
  top: 163px;
  right: 20px;
  width: 40px;
  z-index: 1;
}

#social a {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a.fbook, a.twit, a.gplus {
  background: url(../images/social-icons.png) no-repeat;
}

a.fbook { background-position: 0 0; }
a.fbook:hover { background-position: -40px 0; }
a.fbook:active { background-position: -80px 0; }

a.twit { background-position: 0 -40px; }
a.twit:hover { background-position: -40px -40px; }
a.twit:active { background-position: -80px -40px; }

a.gplus { background-position: 0 -80px; }
a.gplus:hover { background-position: -40px -80px; }
a.gplus:active { background-position: -80px -80px; }

figure {
  margin: 0 0 10px;
}

#first_block {
  width: 100%;
  padding: 10px;
  background-color: aqua;
  display: block;
  float: left;
}

.col-8 {
  float:left;
  width: 10%;
}

.col-4 {
  float: left;
  width: 10%;
  overflow: hidden;

}

[class*="col-"] {
  margin-left: 2%;
}

[class*="col-"]:first-child {
  margin-left: 0%;
}

/* //////////MEDIA ///////////*/


